.welcomeHeader{
  font-family: Arial, Helvetica, sans-serif;
  color:black;
}
.welcomeBody{
  background-color:  rgb(118, 118, 219);
}

.gamePageHeader{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.gamePageBody{
  background-color: rgb(118, 118, 219);
}

.container{
  display: grid;
  border: 1px solid black;
  grid-template-columns: 50px;
  grid-template-rows: 50px;
  margin:200px;
}

.front{
background-color: rgb(219, 55, 55);
display: none;
height: 100%;
}

.back{
background-color: rgb(133, 133, 35);
display: block;
height: 100%;
}

/* .red{

}

.timer{

}

.messageSpace{

} */

#welcomePageButton{
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
}