.welcomeHeader{
  font-family: 'Amatic SC';
  font-size: 25px;
  color:black;
  text-align: center;
  margin-top: 50px;
  margin-left: 75px;
  margin-right: 75px;
  line-height: 30px;
  border: 1px solid black;
}
.welcomeBody{
  background-color:  rgb(118, 118, 219);
  margin: 100px 25px;
}

.welcomeP{
  padding:50px;
  font-size: 30px;
  line-height: 45px;
}

body{
  text-align: center;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
   
  .gamePageHeader{
    font-family: 'Amatic SC';
    font-size: 40px;;
    color: black;
    text-align: center;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.gamePageBody{
  background-color: rgb(118, 118, 219);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 97vh;
}

.container{
  display: grid;
  width: 530px;
  height: 210px;
  grid-template-columns: 125px 125px 125px 125px;
  grid-template-rows: 100px 100px;
  gap: 10px;
}

.playArea{
  width: 100vw;
  display: flex;
  justify-content: center;
}

.front{
  display: none;
  height: 100%;
}

.cardBack{
background-color: rgb(191, 191, 98);
display: block;
height: 100%;
outline: 2px solid black;
}

.red{
background-color: rgb(220, 86, 86);
outline: 2px solid black;
}

.blue{
  background-color: rgb(53, 98, 220);
  outline: 2px solid black;
}

.purple{
  background-color: rgb(187, 108, 187);
  outline: 2px solid black;
}

.green{
  background-color: rgb(116, 197, 116);
  outline: 2px solid black;
}


#welcomeButton{
  border: 1px solid black;
  font-family: 'Amatic SC';
  width: 100px;
  height: 50px;
  margin: auto;
  display: grid;
  line-height: 50px;
  font-size: 24px;
}

#againButton{
  border: 1px solid black;
  font-size: 24px;
  font-family: 'Amatic SC';
  width: 100px;
  height: 50px;
  line-height: 50px;
}

.messageSpace{
  font-size: 40px;
  font-family: 'Amatic SC';
  display: flex;
  justify-content: center;
  align-items: center;
}

.messageContainer{
  border: 2px solid black;
  width: 200px;
  height: 150px;
  font-family: 'Amatic SC';
  display: flex;
  justify-content: center;
  align-items: center;
}
