.welcomeHeader{
  font-family: 'Amatic SC';
  font-size: 25px;
  color:black;
  text-align: center;
  margin-top: 50px;
  margin-left: 75px;
  margin-right: 75px;
  line-height: 30px;
  border: 1px solid black;
}
.welcomeBody{
  background-color:  rgb(118, 118, 219);
}

.gamePageHeader{
  font-family: 'Amatic SC';
  font-size: 40px;;
  color: black;
  text-align: center;
}

.gamePageBody{
  background-color: rgb(118, 118, 219);
}

.container{
  display: grid;
  width: 500px;
  height: 200px;
  grid-template-columns: 125px 125px 125px 125px;
  grid-template-rows: 100px 100px;
  margin:200px;
  gap: 7px;
}

.front{
  display: none;
  height: 100%;
}

.cardBack{
background-color: rgb(191, 191, 98);
display: block;
height: 100%;
outline: thin solid black;
}

.red{
background-color: rgb(220, 86, 86);
outline: thin solid black;
}

.blue{
  background-color: rgb(53, 98, 220);
  outline: thin solid black;
}

.purple{
  background-color: rgb(187, 108, 187);
  outline: thin solid black;
}

.green{
  background-color: rgb(116, 197, 116);
  outline: thin solid black;
}


#welcomeButton{
  border: 1px solid black;
  font-family: 'Amatic SC';
  width: 100px;
  height: 50px;
  margin: auto;
  display: grid;
  line-height: 50px;
}

#againButton{
  border: 1px solid black;
  font-size: 24px;
  font-family: 'Amatic SC';
  width: 100px;
  height: 50px;
  margin: auto;
  display: grid;
  line-height: 50px;
}


/* .messageSpace{
  position: absolute;
  top: 325px;
  bottom: 100px;
  right: 50px;
  border: 2px solid black;
  height: 50px;
  width: 200px;
  text-align: center;
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Amatic SC';
} */